<div>my first com</div>
<div>
<span>name:</span><span>{{$ctrl.person.name}}</span>
</div>
<div>
<span>gold:</span><span>{{$ctrl.person.gold}}</span>
<button ng-click="$ctrl.changeGold(1)">+</button><button ng-click="$ctrl.changeGold(-1)">-</button>
</div>
<div>
<span>attack:</span><span>{{$ctrl.person.attack}}</span>
<button ng-click="$ctrl.changeAttack(1)">+</button><button ng-click="$ctrl.changeAttack(-1)">-</button>
</div>
<div>
<span>armor:</span><span>{{$ctrl.person.armor}}</span>
<button ng-click="$ctrl.changeArmor(1)">+</button><button ng-click="$ctrl.changeArmor(-1)">-</button>
</div>