doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Document
  body
    person-detail
    span {{1 + 1}}
    video(controls)
      source(src="https://media.choiceform.io/os/media/persist/o_1cpu6upp51vd2rr2cjlroc1rv4d.mp4" type="")
